[submodule "bundle/nerdtree"]
    path = bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-sensible"]
    path = bundle/vim-sensible
    url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/Spacegray.vim"]
    path = bundle/Spacegray.vim
    url = git://github.com/ajh17/Spacegray.vim.git
